pkgbase = linuxptp-client
	pkgdesc = Configure LinuxPTP as a client
	pkgver = 1.3
	pkgrel = 2
	url = https://github.com/Doridian/linuxptp-client.git
	arch = any
	license = MIT
	depends = linuxptp
	backup = etc/ptp4l.conf
	backup = etc/ptp4l.env
	source = ptp4l.service
	source = phc2sys.service
	source = ptp4l.conf
	source = ptp4l.env
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = linuxptp-client
