[Unit]
Description=PHC2SYS
StartLimitIntervalSec=0

[Service]
User=root
Type=simple
Restart=always
EnvironmentFile=/etc/ptp4l.env
ExecStart=/usr/sbin/phc2sys -i $INTERFACE -f /etc/ptp4l.conf -q -m -r -w

[Install]
WantedBy=multi-user.target
